_build/
.auto-format
.cache/
.coverage
.dmypy.json
.hypothesis
.idea/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
.vscode/
*.egg-info/
*.lock
*.py[cod]
/.ghtopdep_cache/
/build/
/htmlcov/
/sandbox/
/site.zip
/site/
/worktrees/
dist/
env/
env3*/
Pipfile
test.py
venv/
