.idea/
env/
venv/
.venv/
env3*/
Pipfile
*.py[cod]
*.egg-info/
.python-version
/build/
dist/
.cache/
.mypy_cache/
test.py
.coverage
/htmlcov/
/site/
/site.zip
.pytest_cache/
.vscode/
_build/
.auto-format
/sandbox/
/.ghtopdep_cache/
/worktrees/
/.ruff_cache/
